@use "./mixins.scss" as *;

.cards-wrapper {
  padding: 25px 0;
  @include text-content-center();
  background-color: rgb(247, 247, 247);

  & .text {
    font-size: 12px;
    font-family: "Arial";
    color: rgba(65, 65, 65, 0.502);
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .cards-wrapper {
    display: none;
  }
}
